In [3]:
import pandas as pd

In [12]:
linkedin = pd.read_csv("C:/Users/Gvargas/Desktop/Connections.csv")

In [17]:
spring = pd.read_csv("C:/Users/Gvargas/Desktop/contacts.csv")

In [19]:
linkedin.head()

,First Name,Last Name,Company,Position
0,Shushan,Kallini,A.P. Moller - Maersk,Head of Customer Experience Transformation
1,Cal,Lewis,TriEst Ag Group,President
2,La Quirshia,Fennell,Citrus College,General Counselor
3,Kellen,Quinn,Acumen Fiscal Agent,Integration Analyst
4,Nicole,Sherwood,Cerner Corporation,Integrated Technologies Consultant

In [20]:
spring.head()

                                            Name Need to concat
0             Brett Bertrand (Account Executive)            NaN
1            Sukhpreet Bains (BD & Partnerships)            NaN
2        Hannah Jackson (Senior Program Manager)            NaN
3            Vinod Diyewar (Sourcing Specialist)            NaN
4  Sydney Evans (Business Development Executive)            NaN